 /* navbar  */
    /* Toggle Button */
   .menu-btn {
       display: none;
       font-size: 28px;
       color: white;
       cursor: pointer;
   }


/* Navbar responsive */
/* Hamburger styles */
.hamburger {
    display: none;

    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 2px;
}


@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    ul {
        display: none;

        flex-direction: column;
        width: 100%;
        background-color: var(--second-color);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 15px 0;
        gap: 10px;
        z-index: 999;
    }

    ul.show {
        display: flex;

    }

    ul li a {
        padding: 10px 20px;
        font-size: 16px;
        width: 100%;
    }
}

                  /* footer responsive */
                  @media (max-width: 576px) {
                      footer .footer-flex {
                          flex-direction: column;
                          align-items: center;
                          text-align: center;
                          gap: 25px;
                      }
        
                      footer .social-icons {
                          display: flex;
                          flex-direction: column;
                          gap: .625rem;
                      }
        
                      footer .social-icons i {
                          font-size: 30px;
                          margin-right: 15px;
                      }
        
                      footer .footer-links a {
                          font-size: .75rem;
                          margin-bottom: 10px;
                      }
        
                      footer .logo-footer {
                          width: 150px;
                          height: auto;
                      }
        
                      footer .logo-footer img {
                          width: 50%;
                      }
        
                      footer .contact a,
                      footer .contact p {
                          font-size: .9375rem;
                          line-height: 1.4rem;
                      }
                  }
        
                  @media (max-width: 768px) {
                      footer .footer-flex {
                          flex-direction: column;
                          align-items: center;
                          text-align: center;
                          gap: 35px;
                      }
        
                      footer .footer-links a {
                          font-size: 1.25rem;
                      }
        
                      footer .logo-footer {
                          width: 180px;
                      }
                  }
        
                  @media (max-width: 992px) {
                      footer .footer-flex {
                          flex-wrap: wrap;
                          justify-content: center;
                          gap: 40px;
                          text-align: center;
                      }
        
                      footer .logo-footer {
                          width: 200px;
                      }
                  }


                                  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
                    }
                                  
                
                                  /* Small devices (portrait tablets and large phones, 600px and up) */
                                  @media only screen and (min-width: 600px) {
                                     
                                  }
                
                                  /* Medium devices (landscape tablets, 768px and up) */
                                  @media only screen and (min-width: 768px) {
                                     
                                  }
                
                                  /* Large devices (laptops/desktops, 992px and up) */
                                  @media only screen and (min-width: 992px) {
                                     
                                  }
                
                                  /* Extra large devices (large laptops and desktops, 1200px and up) */
                                  @media only screen and (min-width: 1200px) {
                                     
                                  }